html {
  font - family: sans - serif; - ms - text - size - adjust: 100 % ; - webkit - text - size - adjust: 100 %
}
body {
  margin: 0
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: Thin;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #444;}

ul.topnav li a.active {
  background-color: #111111;
  /*font-weight: bold;*/
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 767px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

div.navbar {
  max-width:767px;
  margin: auto;
}

a {
  color: #428bca;text-decoration:none}
}
